@page
@model KitStem_System.Pages.LabPage.DetailsModel

@{
    ViewData["Title"] = "Lab Details";
}

<div class="container mt-5">
    <h1 class="text-center mb-4">Lab Details</h1>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-body">
                    <h4 class="card-title mb-3">Lab Information</h4>
                    <div>
                        <dl class="row">
                            <dt class="col-sm-3">
                                @Html.DisplayNameFor(model => model.Lab.Description)
                            </dt>
                            <dd class="col-sm-9">
                                @Html.DisplayFor(model => model.Lab.Description)
                            </dd>
                            <dt class="col-sm-3">
                                @Html.DisplayNameFor(model => model.Lab.Kit)
                            </dt>
                            <dd class="col-sm-9">
                                @Html.DisplayFor(model => model.Lab.Kit.Attribute)
                            </dd>
                        </dl>
                    </div>
                    <div class="text-center">
                        <a asp-page="./Edit" asp-route-id="@Model.Lab?.Id" class="btn btn-warning btn-lg me-2">Edit</a>
                        <a asp-page="./Index" class="btn btn-secondary btn-lg">Back to List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
